*.pyc
*.log
node_modules
coverage/
rule_based_perms/logs
rule_based_perms/export_deliverables
rule_based_perms/cantaloupe/*
rule_based_perms/staticfiles
rule_based_perms/media/packages
rule_based_perms/media/build/
rule_based_perms/uploadedfiles/*
rule_based_perms/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
